/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Oct, 2018, 6:26:08 PM
    Author     : dhawa
*/


.base_pane { 
	 -fx-background-color: #34495e;
}


.button { 
	 -fx-background-color: #FFC56C; 
}

.button:hover { 
	 -fx-background-color: #F2F1F1;
}